@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/* Reset page*/
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 160, 0.7);
    background-image: url("assets/survey-back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Background overlay */
.overlay {
    background-color: rgba(0, 0, 160, 0.4);
}

/* Secao formulario */
#form-section {
    color: #FFF;
}

/* Titulo e descricao */
.title-div {
    width: 40%;
    height: 15%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

#title {
    font-size: 2.5em;
    font-weight: 700;
}

#desc {
    font-size: 1.2em;
    font-weight: 400;
}

/* Div formulario */
.form-div {
    width: 50%;
    margin: 20px auto 0;
    padding-top: 20px;
    background-color: rgba(0, 0, 109, 0.8);
    border-radius: 5px;
}

/* Grupos formulario */
.form-group {
    margin-top: 20px;
    padding: 10px 40px;
}

/* Labels & p */
label, p{
    font-size: 1.3em;
    font-weight: 400;
    align-items: center;
    margin-bottom: 0.4rem;
}

label {
    display: flex;
}

p {
    display: block;
}

/* Span */
.form-group span {
    font-size: 0.9rem;
    margin-left: 0.25rem;
}

/* Inputs */
#name, #email, #number, #dropdown{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 1em;
    border: 2px;
    border-radius: 5px;
    background-color: #FFF;
    outline-style: none;
}

/* Radios */
.radio-freq, .radio-sat, .check-prod {
    display: inline-block;
    margin-right: 0.625rem;
    min-width: 20px;
    min-height: 20px;
}

#textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    font-size: 1.3em;
    border: 2px;
    border-radius: 5px;
    outline-style: none;
}

#submit {
    width: 100%;
    height: 30px;
    border: 2px;
    border-radius: 5px;
    color: rgba(0, 0, 109, 0.8);
    outline-style: none;
    font-size: 1rem;
    font-weight: 400;
}

#submit:hover {
    background-color: rgb(175, 175, 175);
}

@media only screen and (max-width: 768px) {
    .form-div {
        min-width: 80%;
    }

    #dropdown:focus {
        width: auto;
    }

    body::before {
        background-image: url("./assets/survey-back-mobile.png")
    }
}

@media only screen and (max-width: 480px) {
    .form-div {
        min-width: 100%;
    }

    #dropdown:focus {
        width: auto;
    }

    body::before {
        background-image: url("./assets/survey-back-mobile.png")
    }
}